[Unit]
Description=Hornet-Radar Detection system in /home/hornet/hornet-radar
After=network.target

[Service]
User=hornet
WorkingDirectory=/home/hornet/hornet-radar
ExecStart=/home/hornet/hornet-radar/bin/python /home/hornet/hornet-radar/main.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target